<div class="content centerTop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:;">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase
                            in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <!-- <div id="completedTasksChartLoader">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>-->
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Son İşlemler</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="table-responsive" style="margin-top:5px">
                            <mat-progress-bar *ngIf="isUserDataLoading" mode="indeterminate"></mat-progress-bar>
                            <table mat-table [dataSource]="logSource" class="mat-elevation-z8" class="table">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> İşlem Tarihi </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        {{setCreateDate(element.AddDate)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="controller">
                                    <th mat-header-cell *matHeaderCellDef> Controller </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.Controller}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.Action}} </td>
                                </ng-container>
                                <ng-container matColumnDef="request">
                                    <th mat-header-cell *matHeaderCellDef> Request </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        {{setRequestResponseText(element.Request)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="response">
                                    <th mat-header-cell *matHeaderCellDef> Response </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        {{setRequestResponseText(element.Response)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="loglevel">
                                    <th mat-header-cell *matHeaderCellDef> Durum </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        <div style="background-color: #55b559;" *ngIf="element.LogLevel=='Success'" class="text-center">
                                            <span style="color:white">
                                                {{element.LogLevel}}</span>
                                        </div>
                                        <div style="background-color: #f55145;" *ngIf="element.LogLevel=='Error'" class="text-center">
                                            <span style="color:white">
                                                {{element.LogLevel}}</span>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedLogColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedLogColumns;"
                                    (click)="selection.toggle(row)"></tr>
                            </table>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Son Kayıt Olan Kullanıcılar</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="table-responsive" style="margin-top:5px">
                            <mat-progress-bar *ngIf="isUserDataLoading" mode="indeterminate"></mat-progress-bar>
                            <table mat-table [dataSource]="userSource" class="mat-elevation-z8" class="table">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Adı Soyadı </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">{{element.NameSurname}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> E-posta Adresi </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.Email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="phone">
                                    <th mat-header-cell *matHeaderCellDef> Telefon Numarası </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.PhoneNumber}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="createdDate">
                                    <th mat-header-cell *matHeaderCellDef> Kayıt Tarihi </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        {{ setCreateDate(element.CreatedDate)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="configuration">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                    <td mat-cell *matCellDef="let element" class="text-nowrap">
                                        <a class="cursor" (click)="navigateToUpdate(element)">
                                            <mat-icon>edit</mat-icon>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"
                                    (click)="selection.toggle(row)"></tr>
                            </table>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>